<div class="customCard cardBack">
  <div class="section hr">
    <div class="sentence" id="sentence">
      <span>{{sentence}}</span>
    </div>
    <div class="audioWrapper">
      {{^audio_file}}
        {{audio}}
      {{/audio_file}}
      {{#audio_file}}
      <audio controls id="audio">
        <source src="{{text:audio_file}}" type="audio/mp3">
      </audio>
      <div class="buttonGroup grid pt8">
        <div class="button" id="btn100">
          <span>x1.00</span>
        </div>
        <div class="button" id="btn075">
          <span>x0.75</span>
        </div>
        <div class="button" id="btn050">
          <span>x0.50</span>
        </div>
        <div class="button" id="btn025">
          <span>x0.25</span>
        </div>
      </div>
      {{/audio_file}}
    </div>
  </div>

  {{#translation}}
  <div class="section hr">
    <div class="header">translation:</div>
      <div class="sectionBody">
        {{translation}}
      </div>
  </div>
  {{/translation}}

  {{#notes}}
  <div class="section hr">
    <div class="header">notes:</div>
      <div class="sectionBody">
        {{notes}}
      </div>
  </div>
  {{/notes}}

  {{#image}}
  <div class="section hr">
    <div class="image">{{image}}</div>
  </div>
  {{/image}}

  <div class="section">
    <div class="buttonGroup">
      {{#url}}
      <a class="link button" href="{{url}}">
        <span>YouTube</span>
      </a>
      {{/url}}
      <a class="link button"
        href="https://translate.google.com/?sl=<lang>&tl=ja&text=<text>&op=translate">
        <span>Google翻訳</span>
      </a>

      <a class="link button"
        href="https://www.google.com/search?udm=50&source=searchlabs&q=「<text>」の文法または表現の解説をしてください">
        <span>Google AI</span>
      </a>
      <a class="link button"
        href="https://filmot.com/search/<text>/1?lang=<lang>&gridView=1">
        <span>Filmot</span>
      </a>
<!--
      <a class="link button"
        href="https://youglish.com/pronounce/<text>/english/us">
        <span>YouGlish</span>
      </a>
-->
<!--
      <a class="link button"
        href="https://www.google.com/search?q=<text>">
        <span>Google</span>
      </a>
-->
<!--
      <a class="link button"
        href="https://www.deepl.com/translator#<lang>/ja/<text>">
        <span>DeepL</span>
      </a>
-->
    </div>
  </div>
</div>
<script>
  var sentence = document.getElementById("sentence");
  sentence.addEventListener("click", function() {
    sentence.classList.toggle('blur');
  }, false);

  // AUDIO
  {{#audio_file}}
  var audio = document.getElementById("audio");

  // autoplay
  (() => {
    audio.play();
  })();

  var btn025 = document.getElementById("btn025");
  var btn050 = document.getElementById("btn050");
  var btn075 = document.getElementById("btn075");
  var btn100 = document.getElementById("btn100");

  function play(rate) {
    return function () {
      audio.pause()
      audio.currentTime = 0;
      audio.playbackRate = rate;
      audio.play();
    }
  }

  // var userJs1 = play(1.0);
  // var userJs2 = play(0.75);
  // var userJs3 = play(0.5);
  // var userJs4 = play(0.25);

  btn025.addEventListener("click", play(0.25), false);
  btn050.addEventListener("click", play(0.5), false);
  btn075.addEventListener("click", play(0.75), false);
  btn100.addEventListener("click", play(1.0), false);

  document.addEventListener('keypress', function (event) {
    var key = event.key || event.keyCode;
    switch (key) {
      case "(": play(0.25)(); break;
      case "[": play(0.5)(); break;
      case "]": play(0.75)(); break;
      case "^": play(0.5)(); break;
      case "$": play(0.75)(); break;
      case ")": play(1.0)(); break;
      case "ArrowUp": play(0.25)(); break;
      case "ArrowLeft": play(0.5)(); break;
      case "ArrowDown": play(0.75)(); break;
      case "ArrowRight": play(1.0)(); break;
    }
  });
  {{/audio_file}}

  // LINK
  var text = "{{text:sentence}}";
  text = encodeURIComponent(text);

  var lang = "en";
  var tags = "{{Tags}}".split(" ");

  if (tags.includes("ja")) {
    lang = "ja";
  }

  var links = document.querySelectorAll('.link');
  links.forEach(e => {
    e.href = e.href.replace(encodeURI("<lang>"), lang);
    e.href = e.href.replace(encodeURI("<text>"), text);
  });
</script>
