:root {
  --max-width-card: 400px;

  --font-size-card: 18px;
  --font-size-target: 20px;
  --font-size-secondary: 14px;

  --color-text-primary: #18191f;
  --color-nightMode-text-primary: #fbfafe;

  --color-card-background: ##f5f5f5;
  --color-nightMode-card-background: #282828;

  --color-box-shadow: rgba(0, 0, 0, 0.2);

  --color-audio-button: #18191f;
  --color-nightMode-audio-button: #fbfafe;

  --color-divider: rgba(0, 0, 0, 0.2);
  --color-nightMode-divider: rgba(255, 255, 255, 0.2);
}

/* Chrome Base Styles */
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Anki Browser Styles */
body {
  display: block;
  line-height: 1.5;
}

html {
  display: block;
  color: -internal-root-color;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
ol,
ul,
li {
  margin: 0.5rem;
  padding: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  margin: 0 !important;
  overflow-wrap: break-word;
}

/* --------------------------- */

strong,
b {
  font-weight: 700;
}

.card {
  padding: 16px;
}

.pane {
  margin: 0 auto;
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--color-card-background);
  box-shadow: 1px 3px 10px var(--color-box-shadow);
  border-radius: 8px;
  max-width: var(--max-width-card);

  font-weight: 500;
  font-size: var(--font-size-card);
  font-family: "Line", sans-serif;
  color: var(--color-text-primary);
}

.nightMode .pane {
  color: var(--color-nightMode-text-primary);
  background-color: var(--color-nightMode-card-background);
  font-weight: 400;
}

.section {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.sentence {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 32px 12px;
  /* font-size: var(--font-size-target); */
}

.sectionBody {
  font-size: var(--font-size-secondary);
  padding: 0 12px;
}

.image {
  display: flex;
  width: 100%;
  height: auto;
}

img {
  object-fit: contain;
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 6px;
}

.buttonGroup {
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.grid3 {
  grid-template-columns: 1fr 1fr 1fr !important;
}

.grid4 {
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
  gap: 8px;
}

.pt8 {
  padding-top: 8px !important;
}

.pt16 {
  padding-top: 16px !important;
}

.button {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border: 1px solid var(--color-divider);
  border-radius: 6px;
  color: var(--color-text-primary);
  cursor: pointer;
  user-select: none;
  font-size: var(--font-size-secondary);
}

.button:active {
  transform: translate(0, 2px);
}

.nightMode .button {
  color: var(--color-nightMode-text-primary);
  border-color: var(--color-nightMode-divider);
}

.replay-button svg {
  width: 20px;
  height: 20px;
}

.replay-button svg path {
  fill: var(--color-audio-button);
}
.nightMode .replay-button svg path {
  fill: var(--color-nightMode-audio-button);
}

.replay-button svg circle {
  fill: none;
  stroke: none;
}

hr {
  border: 0;
  margin: 16px 0;
  padding: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(transparent),
    to(transparent),
    color-stop(50%, #888888)
  );
}

.center {
  text-align: center;
  align-items: center;
}

.blur {
  filter: blur(6px);
}

.hidden {
  display: none;
}

@font-face {
  font-family: Line;
  src: url("_line_th.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Line;
  src: url("_line_rg.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Line;
  src: url("_line_bd.ttf");
  font-weight: 600;
}
